<section class="faq-section">
  <div class="container">
    <h1>Frequently Asked Questions</h1>
    <div class="faq-item">
      <button class="faq-question">Why based on boot.dev?</button>
      <div class="faq-answer">
        <p>Boot.dev is far and away the best online learning platform I'm aware of. It's built upon the flaws of not only
        traditional programming education, but solved many of the pitfalls in gamified learning that many langauge and
          math learning platforms fell into.
        </p>
      </div>
    </div>
    <div class="faq-item">
      <button class="faq-question">Why no lessons focused towards the Backend Path</button>
      <div class="faq-answer">
        <p>There is a bigger issue in the early learning phase. Learner's in the Go portion are capable of being more self-sufficient
        in review and learning and are aware of practice resources they like and are capable of practicing via projects.</p>
      </div>
    </div>
    <div class="faq-item">
    <button class="faq-question">Why is there nothing focused towards DSA?</button>
    <div class="faq-answer">
      <p>While DSA is the hardest part of the course's ramp-up process there is really no need for an additional resource here.
      Hackerrank's Problem Solving is a great bank of problems if you are not prepared yet for Leetcode, and the Neetcode 250
      is a major improvement in the Leetcode learning curve. The Exercism path on Python is also complete and has a good
      mix of DSA review problems and DSA extension problems. I am open to the idea of creating a boot.dev bridge to Leetcode
      set.</p>
    </div>
  </div>
    <div class="faq-item">
      <button class="faq-question">How are the lessons chosen</button>
      <div class="faq-answer">
        <p>As a base statistical model I'm using sorts the coding lessons only chronologically, and then finds the sum
          of a window of n lessons to find the difficulty hotspots. I then use some human intuition around which lessons
          have the most to play with in terms of creating a new concept.<a href="/article">Full Article</a></p>
      </div>
    </div>
    <div class="faq-item">
      <button class="faq-question">Can I contribute?</button>
      <div class="faq-answer">
        <p>While the project is intended to be contributed to, I'm not sure how I'm going to manage it. There are a lot of
        good options I want to keep open, like creating a community curated additional info link set to expand the original.
        In terms of exercises, I'm intending for it to be an open process, but I'm just not sure how I want to gate it, as
        I don't think Archmage is a good enough barrier.</p>
      </div>
    </div>
    <div class="faq-item">
      <button class="faq-question">How are the exercises created?</button>
      <div class="faq-answer">
        <p>
          There are two sources of inspiration in the design of the problems, the first is Apple's GSM Symbolic which is
          based around creating novel math problems by changing details like numbers, names, and background story to create
          novel, but not identical math problems. I had to remix and extend the idea to make it work for coding problems
          as they are a bit more dynamic than the basic math problems AI fails to solve when they change Paula and apples
          to Naseer and oranges. The symbolic information in a coding challenge is like the data-type used, the boolean logic
          to filter, or the iteration logic etc.
          The other is the game design of the 2D Mario series. The core game loop is that it introduces a new enemy concept
          in the most open scenario possible to find the most obvious solution to win. It then starts introducing stipulations
          to make you prove you get the enemy because now there's a block overhead it's difficult to time, oh it's really
          easy to jump way out of the way of, let's put a hole there so you have land precisely. This makes them extensible,
          rather than creating new examples of similar difficulty, this gives a generalizable way to generate n many more difficult
          iterations of difficult problems off of one-premise.
        </p>
    </div>
  </div>
  </div>
</section>
