<div class="Header">
  <h2>Why External Resources are Essential</h2>
  <p>
    Even if Boot.dev is the best resource to learn how to code out there, and I genuinely believe it is. It's a fallacy
    to only ever learn from one source. We all have blind spots and it's just not possible to create something that has
    perfect coverage of the essential information, the ideal difficulty curve, just the right amount of review, and explanations
    that will resonate with everyone. Utilizing anything besides just boot.dev massively increases the chance you'll succeed
    and give you a better end-result.
  </p>
  <div>
    <h3>Must Try</h3>
    <h3><a href="https://codewars.com">Codewars</a></h3>
    <h3>Why It's Awesome?</h3>
    <p>
      Codewars is the ideal boot.dev companion. You can pretty much use it to practice from the very beginning, and it has
      such a massive selection you never have to worry about running out. If you rank up on Codewars while you progress through
      boot.dev and especially if you're cognizant of when you're struggling to hit it harder you'll kill so many birds with
      just one stone. You'll pick some more niche features of Python & Go you really like, get introduced to a lot more CS
      concepts, you'll have written a lot more code, you'll run into interesting ideas for projects, and you'll get a perspective
      of just how deep the programming rabbit hole goes. It's also a very unintrusive way to interview prep, it can be draining
      to grind Leetcode, but with Codewars you'll solve a bunch without knowing, and space it out with some more practical or
      fun problems.
    </p>
  </div>
</div>
<body>
<div class="info">
  <div class="audience">
    <h2>For Total Beginners</h2>
      <h3><a href="https://codingbat.com/python">CodingBat</a></h3>
      <h3>Why I like it?</h3>
      <p>
        It has some very unique problems that aren't really anywhere else. They have a solid problem set of problems you can
        workthrough even if you haven't done any loops yet. The general design philosophy is to create microproblems that can be
        worked through real quick. This makes it great for building immediacy with your basic syntax, piecing together
        tricky booleans, and dedicated practice on the pieces you'll be composing together every single problem down the line.
      </p>
  </div>
  <div>
    <h2>Pre Data Structures</h2>
    <h3><a href="https://www.freecodecamp.org/learn/scientific-computing-with-python/">FCC Scientific Python</a></h3>
    <h3>Where it's useful</h3>
    <p>
      This course isn't amazing like most of FCC's stuff, it's free and it shows. However, if you're really struggling with
      getting the hang of Functional Programming or hard stuck on in the Static Site Generator, while hand-holdly the course
      does have good projects that will assist with understanding how to structure a non-trivial project and have some easier
      string parsing tasks to act as a gentler introduction to the concept.
    </p>
  </div>
  <div class="audience">
    <h2>Supplements Data Structures and Algorithms</h2>
    <p>
      If there's one part of boot.dev I'm not the biggest fan of it would be the data structures and algorithms. It's a lot
      lighter than I think it should be especially since it's also attempting to implicitly cover discrete mathematics and
      computational theory as well. I've never been someone who's had to study something or review it to really get it, but
      Data Structures and Algorithms were the exception for me this stuff is tough. This knowledge is also extremely underrated,
      and maligned for theoretical bullshit. That's a very shallow way to view it. First, performance is not something that
      only matters at big companies, performance is a feature, if your app is slow there are customers who will leave. Second,
      DSA isn't just about performance, there are so many difficult problems that would otherwise result in messy code with tons
      of moving parts that can made simple with a data structure. Third, it genuinely effects the way you think about the more
      mundane parts of programming, and you'll find that knowing data structures changes the way you make objects, and algorithms
      changes the way you approach functions.
    </p>
    <h3><a href="https://www.hackerrank.com/domains/algorithms">Hackerrank Algorithms</a></h3>
    <h3>Why I like it</h3>
    <p>
      This solves two extremely practical problems with boot.dev the difficulty spike from Learn Algorithms to Learn Data Structures,
      and is an unintrusive way to learn the Discrete Maths boot only hints at. The way Algorithms are traditionally taught is
      sucks it's limited to this narrow domain of comparison sorts, when there's a whole world of handy algorithms and a general
      skill of crafting an algorithm that solves those weird problems. Hackerrank's Algorithms does a very good job of this
      it'll give a good mixture of problems that are solved by a good algorithm to know, and problems that are so algorithmic
      in nature that'll practice thinking of a clever algorithm yourself. Particularly, it teaches you Radix sort, I love Radix
      sort, it's such an elegant solution to a really nasty problem that shows up everywhere sorting by a high priority key
      first and then a lower priority key, and on and on. For example, when you have data in chapter lesson format chapter 3
      lesson 12.
    </p>
    <h3><a href="neetcode.io">Neetcode 250</a></h3>
    <h3>Why I like it</h3>
    <p>
      The Neetcode 250 is the ultimate Leetcode prep course, and is especially good considering some of the limitations of
      boot.dev. You'll kill many birds with one stone, you'll get much needed additional practice, you'll get a proper foundation
      in data structures and algorithms, and you'll get introduced into harder problems at the right time instead of waiting
      until after deeper learning. It's also underrated for building a good first personal project, as I found when I first
      learning how to code that I had a lot of great ideas that I just thought were impossible to implement, but actually
      weren't
    </p>
  </div>
  <div class="audience">
    <h2>Supplements Back-end Track</h2>
    <h3><a href="exercism.org/tracks/go">Exercism Go</a></h3>
    <h3>Why I like it</h3>
    <p>
      Boot.dev is a course that's designed to touch you how to be a backend engineer, and Go's the final stretches where you
      get the last bit of core concept learning before you're ready to start building serious projects. Exercism's a platform
      designed to help you get really good at programming. Working through Exercism's meaty practical programming exercises
      as you finish out learning the concepts of web servers and infrastructure is a perfect combination. It's a huge difference
      maker. While boot.dev only archmages slog through figuring out how to make the complex parts of their project work, you'll
      be chewing through those bits and building features they can't even imagine implementing til their next project.
    </p>
  </div>
  <div class="audience">
    <h2>Where to Next</h2>
    <p>
      One of the core
    </p>
    <h3>Learn a Language on your Own</h3>
    <p>
      Learning another language is a huge thing that proves that boot.dev did
    </p>
    <h3>Learn Front-End</h3>
    <p>
      Realistically, today's market doesn't have space for anybody who's not going to be full-stack. It just adds so much
      flexibility to the engineering process. It also allows you to make products that will genuinely be interesting to
      someone that's not another backend developer. Which is important, as they likely will be viewed by non-technical employees
      of your target company.
    </p>
    <a href="cssdiner.com">CSS Diner</a>
    <h3>Learn A CS Topic</h3>
    <a href="teachyourselfcs.com">Teach Yourself CS</a>
    <p>
      Teach Yourself CS is personally my favorite of these resources, it's designed for people who already can program so
      it isn't filled with beginner classes, and since it's seeking to teach computer science not be an online CS degree
      the topics chosen are just chosen because they're the most useful. Pick anything on here, and learn it although I will
      say do Designing Data-Intensive Applications and Distributed Systems. Book is the bomb!
    </p>
    <h3>Learn Data Engineering</h3>
    <p>
      Backend Engineering is mostly about building a server to process transactional requests from external users, data
      engineering is about building pipelines that perform batch processing to create a data model to be utilized by internal
      users whether that's analytics, data science, or machine learning engineers.
    </p>
    <h3>Learn a Cloud Platform</h3>
    <p>
      Go to any of the major cloud platform websites and go for an associate level certification. Developoer certifications
      tend to be a waste of time, but getting a Cloud/DevOps focused certification is valuable experience as you will be
      working with whatever cloud platform your company uses a lot. This information is likely something you'll have that
      engineering teams want that CS grads just won't have.
    </p>
  </div>
</div>
</body>
