<title>HotSpot Playground</title>
<h1>HotSpot Playground</h1>
<button [routerLink]="['/hotspots-course']">Group By courses</button>
<app-hotspot-form [hotspotForm]="hotspotForm"></app-hotspot-form>
<app-stats [window]="window"></app-stats>


<div>
@defer {
<section class="hotspots-container" aria-label="Difficulty Hotspots">
  <ul class="hotspots-grid">
    @for (group of hotspots | keyvalue: noSortComparator; track group; let i = $index) {
      <li class="hotspot-card">
          <h2 class="difficulty-score" (click)="toggleGroup(i)" [class.expanded]="expandedGroups.has(i)">{{group.key}}</h2>
            @if (expandedGroups.has(i)) {
              @for(hotspot of group.value; track hotspot.items[0].CourseName) {
                <header class="card-header" (click)="toggleHotspot(i)" [class.expanded]="expandedHotspots.has(i)">
                    <div class="header-content">
                        <div class="title-group">
                            <h2 class="card-course">{{hotspot.items[0].CourseName}}</h2>
                            <h3 class="card-chapter">{{hotspot.items[0].ChapterName}}</h3>
                            
                        </div>
                        <span class="expand-icon"></span>
                    </div>
                </header>
                @if (expandedHotspots.has(i)) {
                  <ul class="lesson-list">
                    @for (lesson of hotspot.items; track lesson.UUID) {
                      <li class="lesson-item">
                          <a class="lesson-link" [href]="'https://boot.dev/lessons/' + lesson.UUID" target="_blank" rel="noopener">
                              <div class="lesson-content">
                                  <header>
                                      <h3 class="lesson-title">{{lesson.Title}} 
                                          <span class="course-info">{{lesson.Difficulty}}</span>
                                      </h3>
                                  </header>
                              </div>
                          </a>
                      </li>
                    }
                  </ul>
                }
              }
            }
      </li>
    }
  </ul>

  
</section>
} @loading (minimum 1s; after 500ms) {
    <div class="loading-state">
            <p>Loading hotspots...</p>
    </div>
}
</div>