.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: rgba(15, 15, 17, 0.7);
  backdrop-filter: blur(10px);
  padding: 5px 20px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header > a {
  text-decoration: none;
  display: inline-block;
}
/*
background: linear-gradient(135deg,
   #6366f1 0%,
   #8b5cf6 15%,
   #d946ef 30%,
   #ec4899 45%,
   #f0a500 100%);
*/
/* background: linear-gradient(135deg, #818cf8 0%, #9333ea 50%, #ec4899 100%);*/
.site-title {
  margin-right: 100px;
  font-size: 24px;
  font-weight: 800;
  font-family: 'Orbitron', sans-serif;
  background: var(--title-gradient);
  background-clip: text;
  color: transparent;
  background-size: 100% 100%;
  display: block;
  transition: transform 0.3s ease;
  text-shadow: 0 0 20px rgba(99, 102, 241, 0.1);
}
.site-title:hover {
  transform: scale(1.1);
  text-shadow: 0 0 20px rgba(57, 239, 19, 0.4);
  background-position: 200% center;
}

.nav-container {
  margin-left: auto;
  display: flex;
  gap: 5px;
}
.navbar {
  display: flex;
  justify-content: right;
}
.nav-list {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}
.nav-item {
  margin: 0 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
}
.nav-item a {
  text-decoration: none;
  color: #b1b1b1;
  padding: 30px;
  font-size: 20px;
  position: relative;
}
.nav-item:hover {
  transform: scale(1.1);
}
.nav-item a:hover {
  color: #ffffff;
  border-radius: 5px;
}
.nav-item a.active-link {
  color: #d7d7d7;
  /*
  box-shadow: 0 0 16px rgba(122, 162, 247, 0.5);
  */
  position: relative;
}
.nav-item a.active-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 5px; /* Adjust as needed */
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: var(--funky-gradient-dark);
  box-shadow: var(--funky-shadow);
}
