<title>boot-utils</title>
    <header class="header">
      <a routerLink="/" class="logo">
      <h1 class="site-title">Boot.gym</h1>
      </a>
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-item"><a routerLink="/fetch" routerLinkActive="active-link">Fetch</a></li>
          <li class="nav-item"><a routerLink="/analytics" routerLinkActive="active-link">Analytics</a></li>
          <li class="nav-item"><a routerLink="/progress" routerLinkActive="active-link">Progress</a></li>
          <li class="nav-item"><a routerLink="/roadmap" routerLinkActive="active-link">Roadmap</a></li>
          <li class="nav-item"><a routerLink="/article" routerLinkActive="active-link">Article</a></li>
          <li class="nav-item"><a routerLink="/hotspots" routerLinkActive="active-link">Hotspots</a></li>
          <li class="nav-item"><a routerLink="/about" routerLinkActive="active-link">About</a></li>
        </ul>
      </nav>
    </header>
    <router-outlet></router-outlet>