<title>boot-utils</title>
    <header class="header">
      <a routerLink="/" class="logo">
      <h1 class="site-title">Boot.gym</h1>
      </a>
      <div class="nav-container">
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-item"><a routerLink="/mages" routerLinkActive="active-link">Exercise</a></li>
          <li class="nav-item"><a routerLink="/explorer" routerLinkActive="active-link">Explorer</a></li>
          <li class="nav-item"><a routerLink="/progress" routerLinkActive="active-link">Progress</a></li>
          <li class="nav-item"><a routerLink="/roadmap" routerLinkActive="active-link">Roadmap</a></li>
          <li class="nav-item"><a routerLink="/faq" routerLinkActive="active-link">FAQ</a></li>
          <li class="nav-item"><a routerLink="/resources" routerLinkActive="active-link">Resources</a></li>
          <li class="nav-item"><a routerLink="/links" routerLinkActive="active-link">Links</a></li>
        </ul>
      </nav>
      </div>
    </header>
    <router-outlet></router-outlet>
