
<h1>How the exercises are identified.</h1>
<section>
  <p>Defining the right metric for how the difficulty curve of boot.dev progress has proven elusive. The count of lessons above 7 per chapter metric that Lane utilized in the official analysis has been the best so far. However, that metric only allows focus on the chapter level. It is calculated from a mixture of difficulty signs: solutions viewed, boots used, and failed submissions. </p>
  <p>The boot.dev difficulty scores are relative, so while it seems natural that it would get more difficult as you go through by default you would expect it to remain stable. However, it clearly does, suggesting the course increases in difficulty relative to how quickly the student learns. </p>
  <p>The raw difficulty signs are then normalized and binned relative to standard deviations. 5 being the median, 6 being one std harder, 7 being 1.3 std harder, 8 being 1.6 std harder, and 9 being 1.9 std harder. Ten is a bin of everything 2 or higher. They are assymetrical however, 4 like 6 is one std deviation easier, and 3 is like 7, but binned off with everything easier like ten.</p>
  <p>I've come up with the hotspot metric, it is useful at finding difficulty spikes at any resolution. The lessons are first filtered for the browser coding lessons in the CS fundamentals track, and sorted chronologically. With the given subset size, x, it sums the difficulty score for every window of lessons from 1 to x + 1</p>
  <p>At subset window of 2 </p>


 
</section>
<app-primary></app-primary>
<footer class="page-footer">
  <p>Created by Braeden Vallejos</p>
</footer>