
<h1>How the exercises are identified</h1>
<section>
  <p>I've decided to focus entirely on the first three programming courses of the CS Fundamentals track. Although the Algorithms and Data Structures courses are by the far the hardest in the track, I've chosen to ignore them due to the sheer availability of existing content to practice those.</p>
  <p>Unfortunately the only data point I really have access to is boot.dev's difficulty score which is calculated from a mixture of difficulty signs: solutions viewed, boots used, and failed submissions. It is normalized, and then binned into a difficulty score based on it's z-score. If the math doesn't make sense to you just know it's a measure of relative difficulty to learners at that point, a 5 in Data Structures is much harder than in Learn Python. It has a handful of issues I'll lay-out here.</p>
  <div class="list">
    <p>1. It only works for the browser coding challenges.</p>
    <p>2. Learners with some programming experience deflate difficulty scores in Learn Python & OOP dispropionately.</p>
    <p>3. All the difficulty data points are disincentized by the game mechanics, and it biases the dataset.</p>
    <p>4. Easy lessons with tricky edge cases will have inflated scores.</p>
    <p>4. Assemetry, 8, 9, and 10 aren't paired with 2,1, and 0 the easiest is 3.</p>
  </div>
  <p>Just picking the lessons based on raw difficulty alone also doesn't really get the job done either, some of the level 7 or 8 lessons have concepts worth reviewing far more than others. What I realized is that there is another data-points that's useful here, and that's it's context among the other lessons nearby. I want to find the high points in the difficulty curve as whole, because it's those bits of harder stuff that give the learner that senese of shock that they might not be ready to move on.</p>
  <p>The idea came to me doing Leetcode, using the sliding window technique, to find the optimal buy low, sell high point in an array of integers. I want to order the boot.dev lessons chronologically and slide a window through, and choose the concepts from those peaks. </p>
</section>
<app-demo></app-demo>
<footer class="page-footer">
  <p>Created by Braeden Vallejos</p>
</footer>
