<app-starfield></app-starfield>
<section class="hero-section">
    <div class="container">
        <h1>A place to practice your Python Skills</h1>
        <p class="hero-text">Proper Boot.dev Review Problems</p>
        <button class="cta-button">Start coding</button>
    </div>
</section>

<!-- Features Grid -->
<section class="features">
    <div class="features-grid">
        <div class="feature-card">
            <i class="fas fa-rocket"></i>
            <h3>Novel Challenges</h3>
            <p>Conceptually identical, but differ on the details.</p>
        </div>
        <div class="feature-card">
            <a href="/article">
            <i class="fas fa-shield-alt"></i>
            <h3>Signal Not Noise</h3>
            <p>Challenge problems are chosen from a data-driven process, and written by humans.</p>
            </a>
        </div>
        <div class="feature-card">
            <i class="fas fa-code"></i>
            <h3>Review Links</h3>
            <p>Aggregated external links by course or chapter, in case you missed them.</p>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="about">
    <div class="container">
        <div class="about-content">
            <h2>Why Choose Us?</h2>
            <p>As a boot.dev student, I understand the difficulty curve, and how dispropionately difficult certain parts can be.  </p>
        </div>
    </div>
</section>
