/* Base Layout */
:root {
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --border-radius: 8px;
    --max-width: 800px;
    --primary-blue: #3498db;
    --primary-purple: #9b59b6;
    --accent-green: #2ecc71;
    --accent-orange: #e67e22;
    --gradient-primary: linear-gradient(to right, var(--primary-blue), var(--primary-purple));
    --gradient-accent: linear-gradient(to right, var(--accent-green), var(--accent-orange));
    --text-secondary: #0FB9D7;
    }
  
  
  /* Form Styling */
  
  
  /* Hotspots Grid */

  .hotspots-container {
    max-width: var(--max-width);
    margin: 1 auto;
    padding: 0 var(--spacing-md);
  }
  
  .hotspots-grid {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: var(--spacing-md);
    border:#292E42 20px solid;
    border-radius: 10px;
  }
  
  /* Card Styling */
  .hotspot-card {
    border: #0F172A 2px solid;
    background: #1f2336;
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-md);
  }
  
  .course-name {
    font-size: 1.25rem;
    color: #ff9e64;
    cursor: pointer;
    padding: var(--spacing-xs) 0;
    border-bottom: 2px solid transparent;
  }
  .course-name:hover {
    color: #ff6b6b;
    transition: color 0.3s ease-in-out;
  }
  
  
  .difficulty-score.expanded {
    border-bottom-color: var(--accent-color);
  }
  
.card-header {
    padding: var(--spacing-sm) 0;
    cursor: pointer;
    border: #0F172A 2px solid;
}

.card-chapter {
  font-size: 1.1rem;
  margin-bottom: var(--spacing-xs);
  color: #9d7cd8;
  padding-right: 10px;
}
.chapter-container {
    display:inline;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
  }
  .lesson-list {
    list-style: none;
    padding: var(--spacing-sm) 0;
  }
  
  .lesson-item {
    margin-bottom: var(--spacing-xs);
  }
  
  
  .lesson-link {
    text-decoration: none;
  }
  .lesson-link:hover {
    text-decoration: none;
    color: #0f172a;
  }
  
  .lesson-title {
    font-size: 0.9rem;
    font-weight: normal;
    color: #b4f9f8;
  }
  .lesson-title:hover {
    color: #0f172a;
  }
  
  .course-info {
    font-size: 0.8rem;
    color: var(--text-secondary);
    margin-left: var(--spacing-xs);
  }
  
  /* Loading State */
  .loading-state {
    text-align: center;
    padding: var(--spacing-lg);
    color: var(--text-secondary);
  }
