<h1>Tracks</h1>
<h3>Select any tracks you have completed in full.</h3>
<div class="button-container">
    <button class="cyber-button" (click)="loadMild()">GetEnhanced</button>
</div>
<ul>
  <li *ngFor="let track of tracks">
    <label class="custom-checkbox">
      <input type="checkbox" [(ngModel)]="track.completed" />
      <span class="checkmark"></span>
        {{track.name}}
    </label>
    <span class="toggle-icon" (click)="toggleCoursesVisibility(track)">
        {{ track.coursesVisible ? '▼' : '►' }}
    </span>
      <div class="course-list" [class.visible]="track.coursesVisible">
        <ul>
          <li *ngFor="let course of track.courses">
            <label class="custom-checkbox">
              <input type="checkbox" [(ngModel)]="course.completed" />
              <span class="checkmark"></span>
                {{course.name}}
            </label>
          </li>
        </ul>
      </div>
  </li>
</ul>