<div class="container">
  <div class="list">
    <h2>Object Oriented Programming</h2>
    <h3><a href="/mages">Mages</a></h3>
    <p>Based on Dragon Exercises OOP Chapter 4/5</p>
  </div>
  <div class="list">
    <h2>Functional Programming</h2>
    <h3><a href="/recursion">Recursion</a></h3>
    <p>New exercises with the same topic as FP Recursion chapter</p>
  </div>
  <div class="list">
    <h2>Advanced Recursion</h2>
    <h3><a href="/thisorthat">Recursion for Combinatorics</a></h3>
    <p>New Chapter written by Braeden Vallejos</p>
  </div>
</div>
