/* Container styling */
:host {
    --underline-height: 15px;
    
}
.demo {
    position: relative;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    letter-spacing: -0.025em;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.demo h2 {
    position: relative; /* To position the underline correctly */
    display: inline-flex;
    align-items: center;
}

.data-item {
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.data-item:hover {
    background: var(--funky-gradient); 
    background-clip: text;
    color: transparent;
}

.data-item.active {
    background: var(--neon-gradient);
    background-clip: text;
    color: transparent;
}

.underline {
    position: absolute;
    bottom: 60px; 
    height: 2px;
    background: var(--gradient-simple);
    box-shadow: var(--funky-shadow);
    transition: left 0.3s ease, width 0.3s ease; /* Only transitioning left since width is fixed */
    left: 10px;
}
.underline::before,
.underline::after {
    content: '';
    position: absolute;
    top: calc(var(--underline-height) * -1);
    width: 2px;
    height: var(--underline-height);
    box-shadow: var(--funky-shadow);
    transition: height 0.3s ease;
}
.underline::before {
    left: 0;
    background: var(--gradient-simple-reverse);
}
.underline::after {
    right: 0;
    background: var(--gradient-simple);
}



.underline-sum {
    margin-top: 10px; /* Space between underline and sum */
    font-size: 1rem;
    color: var(--funky-one);
    text-align: center;
}