<div class="demo">
    <div class="controls">
        <button (click)="incrementSize()">
            <span class="button-text">window ++</span>
        </button>
        <button (click)="startAutoMove()">
            <span class="button-text">{{isPlaying ? 'Pause' : 'Play'}}</span>
        </button>
        <button (click)="decrementSize()">
            <span class="button-text">window --</span>
        </button>
    </div>
    <h2>
        @for (i of data; track i; let idx = $index; let last = $last) {
            <span 
            #dataItem
            class="data-item"
            [class.active] = "activeIndex !== null && idx >= activeIndex && idx < activeIndex + numPoints"
            (click)="moveLine(idx)"
            >
            {{i}}
            </span>
            @if (!last) {           
                <span>, </span>
            }
        }
    

    </h2>
    <div class="underline" [ngStyle]="underlineStyle"></div>
    <div class="underline-sum">{{ underlineSum }}</div>
</div>