/* Container styling */
:host {
    --underline-height: 15px;
    --neon-gradient: linear-gradient(135deg, #ec4899 0%, #9333ea 50%, #818cf8 100%);
}
button {
    color: #818cf8; 
    background-color: rgba(15, 15, 17, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(192, 192, 192, 0.1);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    .button-text {
        transition: background 0.3s ease, color 0.3s ease;   
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }
    &:hover .button-text {
        background: var(--neon-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    &:hover .button-text::after {
        content: '';
        position: relative;
        width: 60%;
        height: 3%;
        background: var(--neon-gradient);
        top: 85%;
        left: 20%;
        border-radius: 50px;
        z-index: -1;
    }
  }
.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}



.demo {
    position: relative;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    letter-spacing: -0.025em;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.demo h2 {
    position: relative; /* To position the underline correctly */
    display: inline-flex;
    align-items: center;
}

.data-item {
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.data-item:hover {
    color: #9333ea; 
}

.data-item.active {
    background: var(--neon-gradient);
    background-clip: text;
    color: transparent;
}

.underline {
    position: absolute;
    bottom: 60px; 
    height: 2px;
    background: linear-gradient(135deg, #818cf8 0%, #9333ea 50%, #ec4899 100%);
    box-shadow: 0 0 5px #818cf8, 0 0 5px #9333ea, 0 0 5px #ec4899;
    transition: left 0.3s ease, width 0.3s ease; /* Only transitioning left since width is fixed */
    left: 10px;
}
.underline::before,
.underline::after {
    content: '';
    position: absolute;
    top: calc(var(--underline-height) * -1);
    width: 2px;
    height: var(--underline-height);
    
    box-shadow: 0 0 5px #818cf8, 0 0 5px #9333ea, 0 0 5px #ec4899;
    transition: height 0.3s ease;
}
.underline::before {
    left: 0;
    background: linear-gradient(135deg, #ec4899 0%, #9333ea 50%, #818cf8 100%);
}
.underline::after {
    right: 0;
    background: linear-gradient(135deg, #818cf8 0%, #9333ea 50%, #ec4899 100%);
}



.underline-sum {
    margin-top: 10px; /* Space between underline and sum */
    font-size: 1rem;
    color: #9333ea;
    text-align: center;
}