<h1>Road To Archmage</h1>

<form *ngIf="showForm" [formGroup]="rankForm" (ngSubmit)="onSubmit()" class="rank-form">
    <div class="form-group">
        <label for="level">Level:</label>
        <input id="level" type="number" formControlName="level">
    </div>
    <div class="form-group">
        <label for="guess">What percent do you think you're done?</label>
        <input id="guess" type="number" formControlName="guess">
    </div>
    
    <button type="submit">Add Rank</button>
</form>
<div *ngIf="!showForm" class="accuracy-display">Your guess was off by {{guessAccuracy | number:'1.2-2'}}%</div>
<div class="number-line">
    <div class="number-line-horizontal">
        <div class="midway-tick"></div>
        <div *ngFor="let rank of ranks" class="rank-line" [style.left.%]="rank.percent">
            <span *ngIf="!showForm"class="tooltip">{{rank.name}} {{rank.xp}}XP Level {{rank.level}}</span>
        </div>
        <div *ngIf="userPosition" class="rank-ball" [style.left.%]="userPosition.percent"></div>
        <div *ngIf="guessPosition" class="rank-ball guess" [style.left.%]="guessPosition"></div>
    </div>
</div>
